storage/app/public/xml/staff/staff.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT staffList (staff)*>
<!ELEMENT staff (name, position, faculty, specialization, area_of_interest, email)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT position (#PCDATA)>
<!ELEMENT faculty (#PCDATA)>
<!ELEMENT specialization (#PCDATA)>
<!ELEMENT area_of_interest (#PCDATA)>
<!ELEMENT email (#PCDATA)>